.shoping-header {
  background-color: rgb(31, 151, 255);
  width: 100%;
  height: 100px;
}

.shoping-header h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 20px;
}

thead {
  background-color: rgb(211, 105, 6);
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

tbody {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.shoping-cart {
  margin-top: 50px;
}

.shoping-total {
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

