.shoping-header {
  background-color: rgb(31, 151, 255);
  width: 100%;
  height: 100px;
}

.shoping-header h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
}
